* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

img {
    user-select: none;
}

body {
    overflow-x: hidden;
    background-color: #F05A43;
}

#welcomediv {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, .85)), url("backgrounds/building-background.jpeg");
    background-size: cover;
    background-position: center;
}

/* navbar */





/* end of navbar */

#michaelangelo1 {
    width: 420px;
    position: absolute;
    top: 101px;
    right: 100px;
    z-index: 3;
}

#michaelangelo2  {
    width: 420px;
    position: absolute;
    top: 101px;
    right: 70px;
    z-index: 2;
}

#michaelangelo3 {
    width: 420px;
    position: absolute;
    top: 101px;
    right: 40px;
    z-index: 1;
}

#classytext {
    width: 1020px;
    position: absolute;
    top: 100px;
    left: 180px;
    opacity: 22%;
}

#owner-jericho {
    text-transform: uppercase;
    font-family: 'Sigmar One';
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 157px;
    left: 50px;
    letter-spacing: 10px;
}

#streetwisecomp {
    text-transform: uppercase;
    font-family: 'Dokdo';
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 170px;
    left: 70px;
    z-index: 5;
    letter-spacing: 4px;
}

#designer-creator {
    text-transform: uppercase;
    font-family: 'Poppins';
    color: #ffff00;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 8px;
    position: absolute;
    top: 280px;
    left: 610px;
}

.introduce {
    color: #fff;    
    width: 770px;
    text-align: right;
    font-size: 30px;
    line-height: 2.5rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Poppins';
    position: absolute;
    top: 330px;
    left: 210px;
}

.container--collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px, auto)
}

.container--collection__header {
    grid-column: 1 / 4;
    margin: 150px 0px 0px 50px;
}

#new-arrivals {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-size: 120px;
}

.container--collection__newarrivals {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    margin: 30px 0px 50px 20px
}

.carousel {
    display: flex;
    gap: 80px;
}

.new-arrival__image {
    width: 680px;
    height: 900px;
}