* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: white;
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.214);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: grey
}

img {
    user-select: none;
}

body {
    overflow-x: hidden;
    background-color: #F05A43;
    width: auto;

}

#welcomediv {
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, .85)), url("backgrounds/building-background.jpeg");  
    background-size: cover;
    background-position: center;
}

/* navbar */
.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

#navbarlogo {
    width: 90px;
    margin: 10px;
    filter: drop-shadow(7px 5px 4px);
    z-index: 10;
}

#nav-streetwise {
    font-size: 45px;
    font-family: 'Dokdo';
    color: white;
    letter-spacing: 8px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 100px;
    text-shadow: 4px 4px 5px black
}

#nav-jericho {
    font-size: 15px;
    font-family: 'Sigmar One';
    color: white;
    letter-spacing: 18px;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 100px;
    text-shadow: 4px 4px 5px black
}

/*Link Modifications*/
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

/* Hamburger menu */
#menu {
    width: 28px;
    position: absolute;
    top: 35px;
    right: 110px;
    cursor: pointer;
    filter: drop-shadow(7px 5px 4px);
}

.bar {
    height: 4px;
    width: 100%;
    background-color: white;
    display: block;
    transition: 0.3s ease; 
}

menu:hover {
    color: grey;
}

#bar1 {
    transform: translateY(-2px);
    
}

#bar2 {
    transform: translateY(1px);
}

#bar3 {
    transform: translateY(4px);
}

#bar4 {
    transform: translateY(7px);
}

/* WHEN CLICKED, CHANGE THE MENU BAR INTO 
    "CLOSE" ICON */

/* (WHEN CLICKED) --> HAMBURGER MENU--ICON BAR */
.alter .bar {
    background-color: white;
    
}

.alter #bar2, .alter #bar4 {
    opacity: 0%;
    transform: translateY(3px);
}

.alter #bar1 {
    transform: translateY(2px) rotateZ(-45deg);
    border-radius: 10px;
}

.alter #bar3 {
    transform: translateY(-6px) rotate(45deg);
    border-radius: 10px;
}
    /* END OF HAMBURGER MENU--ICON BAR */


#contents {
    position: absolute;
    text-align: center;
    position: relative;
}

.nav {
    display: none;
    transition: 0.3s ease;
}

.nav li {
    color: grey;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 900;
    line-height: 4em;
    
}

.nav li a {
    color: white;
    font-size: 80px;
    font-style: italic;
    transition: .2s;
    
}

.nav li a:hover {
    color: yellow;
}


#content-menu {
    letter-spacing: 5px;
    font-size: 30px;
    font-style: italic;
}

#navmenu-streetwise {
    font-size: 45px;
    font-family: 'Dokdo';
    letter-spacing: 3px;
}

.menuContents{
    display: block;
}

#menu-background {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .7)), url(backgrounds/background-meeting.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    
}

.changeBackground {
    width: 1980px;
    height: 1020px;
}


/* end of navbar */

#michaelangelo1 {
    width: 420px;
    position: absolute;
    top: 151px;
    right: 100px;
    z-index: 3;
}

#michaelangelo2  {
    width: 420px;
    position: absolute;
    top: 151px;
    right: 70px;
    z-index: 2;
}

#michaelangelo3 {
    width: 420px;
    position: absolute;
    top: 151px;
    right: 40px;
    z-index: 1;
}

#classytext {
    width: 1080px;
    position: absolute;
    top: 100px;
    left: 180px;
    opacity: 5%;
}

#owner-jericho {
    text-transform: uppercase;
    font-family: 'Sigmar One';
    color: #ffff00;
    font-size: 22px;
    position: absolute;
    top: 187px;
    left: 50px;
    letter-spacing: 10px;
}

#streetwisecomp {
    text-transform: uppercase;
    font-family: 'Dokdo';
    color: #ffff00;
    font-size: 93px;
    position: absolute;
    top:210px;
    left: 78px;
    z-index: 5;
    letter-spacing: 4px;
}

#designer-creator {
    text-transform: uppercase;
    font-family: 'Poppins';
    color: #ffff00;
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 8px;
    position: absolute;
    top: 334px;
    left: 578px;
}

.introduce {
    color: #fff;    
    width: 920px;
    text-align: right;
    font-size: 32px;
    line-height: 2.9rem;
    font-weight: 600;
    font-style: italic;
    font-family: 'Poppins';
    position: absolute;
    top: 390px;
    left: 80px;
}

.container--collection {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: minmax(300px, auto);
}

.container--collection__header {
    grid-column: 1 / 4;
    margin: 100px 0 0px 50px;
}

#new-arrivals, #designs, #shirts {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-size: 120px;
}

.container--collection__newarrivals, .container--collection__designs, .container--collection__shirts {
    margin: 30px 0 50px 0px;
    grid-column: 1 / 4;
    overflow-x: auto;
    align-items: center;
}

.container--collection__newarrivals::-webkit-scrollbar {
    height: 14px;
    width: 2px;
}   

/* scrollbar designs for newarrivals */
.container--collection__newarrivals::-webkit-scrollbar {
    height: 14px;
    width: 2px;
}   

.container--collection__newarrivals::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}


/* scrollbar design for new arrivals */
.container--collection__designs::-webkit-scrollbar {
    height: 14px;
    width: 2px;
}   

.container--collection__designs::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

/* scrollbar design for tshirt */
.container--collection__shirts::-webkit-scrollbar {
    height: 14px;
    width: 2px;
}   
.container--collection__shirts::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

.carousel__new-arrivals, .carousel__designs, .carousel__shirts {
    display: flex;
}

.new-arrival__image, .designs__image, .designs__shirts {
    width: 680px;
    height: 850px;
    transform: scale(.9);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -5px;
    transition: 0.3s ease;
}

/* ------ IMAGE HOVER ------ */

.designs__image:hover {
    
}

.container-streetwise {
    grid-column: 1 / 4;
    margin: 250px 0 100px 0;
}

.btn-follow__us {
    padding: 0;
    width: 100%;
    text-align: center;
}

#background2--streetwise {
    width: 100%;
}

#follow-us {
    border: 2px solid black;
    background-color: black;
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins';
    color: white;
    position: relative;
    top: 40px;
    
}

.container-paragraphs {
    grid-column: 1 / 4;
}

.paragraph1 {
    font-family: 'Poppins';
    font-size: 55px;
    font-weight: 600;
    font-style: italic;
    color: #000;
    line-height: 1.2em;
    text-align: center;
    margin: 0 10% 5% 10%;   
}

.divider {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#divider--paragraph {
    height: 12px;
    width: 680px;
    border: solid black;
    background-color: black;
    border-radius: 20px;
    opacity: 100%;
    margin: 0;
}

.paragraph2 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: #000;
    line-height: 1.6em;
    text-align: center;
    margin: 0px 26% 8% 26%; 
}

.contact-form {
    grid-column: 2 / 3;
    text-align: left;
    line-height: 1.3em;
}

.graphic--designer {
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 38px;
    font-style: italic;
    letter-spacing: 3px;
}

.worry {
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    position: relative;
    top: -10px;
}

.work--together {
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 38px;
    font-style: italic;
    letter-spacing: 3px;
}

.contact--form__line {
    margin-bottom: 30px;
    position: relative;
    top: 30px;
}

.input--appointment {
    position: relative;
    left: 120px;
    margin: 50px 0 40px 0;
}

.enterset--appointment {
    position: relative;
    left: 20px;
    top: -5px;
    letter-spacing: 2px;
    opacity: 50%;    
}

.setappointment {
    font-family: Poppins;
    color: black;
}

#arrow-icon {
    position: relative;
    left: 30px;
    top: 4px;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    background-color: #F59B9B;
    margin: 100px 0 0 0;
}

#footer p {
    color: #000;
    text-align: left;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 20px 8px 10px 50px;
}

.subscribe--footer {
    grid-column: 1 / 4;
    background-color: #000;
    
}

#connect--subscribe {
    font-size: 18px;
    color: white;
    font-family: 'Poppins';
    letter-spacing: 1px;
    position: relative;
    top: 30px;
    left: 120px;
    right: 40px;
}

.socmed-icons {
    position: relative;
    left: 320px;
    top: -10px;
    width: auto;
}

#socmed--divider {
    color: #fff;
    height: 30px;
    width: 0;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid white;
    position: absolute;
    top: 10px;
    left: 250px;
}

#credits {
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
    position: absolute;
    top: 10px;
    left: 310px;
}