* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

img {
    user-select: none;
}

body {
    overflow-x: hidden;
    background-color: #F05A43;
}

#welcomediv {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, .85)), url("backgrounds/building-background.jpeg");
    background-size: cover;
    background-position: center;
}

/* navbar */





/* end of navbar */

#michaelangelo1 {
    width: 420px;
    position: absolute;
    top: 151px;
    right: 100px;
    z-index: 3;
}

#michaelangelo2  {
    width: 420px;
    position: absolute;
    top: 151px;
    right: 70px;
    z-index: 2;
}

#michaelangelo3 {
    width: 420px;
    position: absolute;
    top: 151px;
    right: 40px;
    z-index: 1;
}

#classytext {
    width: 1080px;
    position: absolute;
    top: 100px;
    left: 180px;
    opacity: 22%;
}

#owner-jericho {
    text-transform: uppercase;
    font-family: 'Sigmar One';
    color: #ffff00;
    font-size: 22px;
    position: absolute;
    top: 187px;
    left: 50px;
    letter-spacing: 10px;
}

#streetwisecomp {
    text-transform: uppercase;
    font-family: 'Dokdo';
    color: #ffff00;
    font-size: 93px;
    position: absolute;
    top:210px;
    left: 78px;
    z-index: 5;
    letter-spacing: 4px;
}

#designer-creator {
    text-transform: uppercase;
    font-family: 'Poppins';
    color: #ffff00;
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 8px;
    position: absolute;
    top: 334px;
    left: 578px;
}

.introduce {
    color: #fff;    
    width: 920px;
    text-align: right;
    font-size: 32px;
    line-height: 2.9rem;
    font-weight: 600;
    font-style: italic;
    font-family: 'Poppins';
    position: absolute;
    top: 390px;
    left: 80px;
}

.container--collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px, auto)
}

.container--collection__header {
    grid-column: 1 / 4;
    margin: 150px 0px 0px 50px;
}

#new-arrivals, #designs, #shirts {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-size: 120px;
}

.container--collection__newarrivals, .container--collection__designs, .container--collection__shirts {
    margin: 100px 0px 50px 20px
}

.carousel__new-arrivals, .carousel__designs, .carousel__shirts {
    display: flex;
    gap: 66px;
    overflow-x: hidden;
}

.new-arrival__image, .designs__image, .designs__shirts {
    width: 680px;
    height: 900px;
}